<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egnify.nirf">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_google_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AfterLoginMainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".GoogleLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egnify.nirf.GoogleLogin" />
        </activity>
        <activity
            android:name=".GoogleLogin"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen.EnggActivity"
            android:label="@string/title_activity_engg"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egnify.nirf.MainActivity" />
        </activity>
        <activity
            android:name=".CollegeDetailsActivity"
            android:label="@string/title_activity_college_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egnify.nirf.MainScreen.EnggActivity" />
        </activity>

        <receiver android:name=".Widget.FavWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/collection_widget_info" />
        </receiver>

        <!--
             2. The service that will send our collection data to our widget. It needs the
                permission android.permission.BIND_REMOTEVIEWS
        -->

        <provider
            android:name=".favorites.FavsContentProvider"
            android:authorities="com.egnify.nirf.contentprovider"></provider>

        <activity
            android:name=".favorites.FavsActivity"
            android:label="@string/title_activity_favs"
            android:parentActivityName=".GoogleLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egnify.nirf.GoogleLogin" />
        </activity>
    </application>

</manifest>